.container-player {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
    
}

.container-audio {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 2rem;
    padding: 0.5rem;
    width: 100%;
    box-shadow: 0px 2px 4px -1px #000000;
}

.wave {
    width: 100%;
    box-shadow: 0px 2px 4px -1px #000000;
}

.container-buttons {
    box-shadow: 0px 2px 4px -1px #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    border-radius: 3rem;
    padding: 0.5rem;
}

.button {
    padding: 1rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 2px 4px -1px #000000;
}

.text {
    text-align: center;
}